// Footer
    footer[role="contentinfo"] {
        margin-top: 80px;
        height: 200px;
        background-color: #dcdcdc;
position: fixed;
bottom: 0; 
width: 100%;
z-index: 1;        
        .copyright {
            img {
                margin-top: 40px;
            }
            p {
                color: #fff;
                margin-top: -20px;
            } 
        }
    }   