// Header
    nav {
        height: 100px;
        transition: all 0.2s ease;
        .navbar-brand {
            padding: 0;
            img {
                opacity: 0.125;
                transition: all 0.5s ease;
                &:hover {
                    opacity: 1;
                }
            }
        }
        a {
            font-family: 'Source Sans Pro', sans-serif;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 1) !important;
            font-size: 18px;
            padding-bottom: 20px !important;
            transition: all 0.2s ease;
            &:hover {
                color: rgba(255, 255, 255, 0.5) !important;
            }
            &.active {
                color: coral !important;
            }
        }
    } 

// Custom
    .navbar-default {
        background-color: transparent !important; // rgba(248, 248, 248, 0.25) !important;
        border: none !important;
        .navbar-nav {
            margin-top: 26px;
        }
    }
    .navbar-toggle {
        border: none !important;
        &:hover {
            background-color: rgba(255, 255, 255, 0.25) !important;
        }
        .icon-bar {
            height: 3px !important;
            width: 30px !important;
            border-radius: 0px !important;
        }
        .icon-bar + .icon-bar {
            margin-top: 6px !important;
        }
    }

// Shrink
    .navbar-default.shrink {
        background-color: rgba(0, 0, 0, 0.75) !important;
        height: 75px;
        .navbar-brand {              
            padding: 0;
            transform-origin: top left;
            transition: transform 0.2s;
            transform: scale(.75);
        }
        .navbar-nav {
            margin-top: 14px;
            a {
                font-size: 14px;
            } 
        }           
    }

// Media query
    @media screen and (max-width: 992px) {
        .navbar-default {
            background-color: rgba(0, 0, 0, 0.75) !important;
            height: 75px; 
            .navbar-brand {              
                transform-origin: top left;
                transition: transform 0.2s;
                transform: scale(.75);
            }
            .navbar-nav {
                margin-top: 14px;
                a {
                    font-size: 14px;
                } 
            }            
        }
    }