// Header
header[role=banner] {  
    height: auto;
}                       

.nav, .poopy {  
    &.navbar-nav {
        float: right !important;    
        transition: all 0.3s;
        box-sizing: border-box;
    }  
}     