// Header
    nav {
        height: 100px;
        transition: all 0.2s ease;
        .navbar-brand {
            padding: 0;
        }
        a, .poop {
            font-size: 18px;
            padding-bottom: 20px !important;
            transition: all 0.2s ease;
        }
    } 

// Shrink
    .navbar-default {
        &.shrink {
            height: 75px;
            .navbar-brand {              
                padding: 0;
                transform-origin: top left;
                transition: transform 0.2s;
                transform: scale(.75);
            }
            a {
                font-size: 14px;
            }           
        } 
    }

// Media 
    @media screen and (max-width: 992px) {
        .navbar-default {
            height: 75px;
            .navbar-brand {              
                transform-origin: top left;
                transition: transform 0.2s;
                transform: scale(.75);
            }
            a {
                font-size: 14px;
            }            
        }
    }

// Custom
    .navbar-default {
        background-color: rgba(248, 248, 248, 0.25) !important;
        border: none !important;
    }
    .navbar-toggle {
        border: none !important;
        &:hover {
            background-color: rgba(255, 255, 255, 0.25) !important;
        }
        .icon-bar {
            height: 3px !important;
            width: 30px !important;
            border-radius: 0px !important;
        }
        .icon-bar + .icon-bar {
            margin-top: 6px !important;
        }
    }