// styles.scss
.dump {
    margin: 0;
    transform: scale(.5);
}

.content-area {
    position: relative;
    z-index: 10;
    background-color: #fff;
    margin-bottom: 200px; 
    padding-top: 100px;
}
.home {
    .content-area {
        padding-top: 0px;
    }
}